<div class="well rshot-miniprofile">
<ul class="nav nav-list">
    <li class="nav-header">
      <b>From:</b>
      <%= link_to image_tag(profile.avatar.url(:micro), :class => 'profile-image') + profile.nick, profile, {:title => "#{profile.forename} #{profile.surname}", :rel => 'tooltip'} %>
    </li>

    <li class="active">
        <a href="<%= profile_pictures_path(profile) %>">
            <i class="icon-picture"></i>
            Photostream
        </a>
    </li>
    <li>
        <a href="<%= profile_albums_path(profile) %>">
            <i class="icon-folder-open"></i>
            Albums
        </a>
    </li>
    <li>
        <a href="<%= profile_path(profile) %>">
            <i class="icon-user"></i>
            User profile
        </a>
    </li>
</ul>
</div>