<h2>Listing <%= pluralize(@pictures.size, 'picture') %></h2>

<%= paginate @pictures %>

<% @pictures.each do |picture| %>
  <%= render :partial => "pictures/mediumview", :locals => { :picture => picture } %>
<% end %>

<div class="clearfix"></div>

<%= paginate @pictures %>
