<h2>OpenShot image sharing</h2>

<p>
  <% if @picture %>
    <%= link_to image_tag(@picture.photo.url(:medium)), profile_picture_path(@picture.profile, @picture) %>
    <div>by <%= link_to @picture.profile.nick, @picture.profile %></div>
  <% end %>
</p>

<%= link_to "Show pictures", pictures_path %>
