<h2>OpenShot image sharing</h2>

<p>
  <%= link_to image_tag(@picture.photo.url(:medium)), profile_picture_path(@picture.profile, @picture) if @picture %>
</p>

<%= link_to "Show pictures", pictures_path %>
