<p>
  <% if @picture %>
    <%= link_to image_tag(@picture.photo.url(:medium)), profile_picture_path(@picture.profile, @picture) %>
    <h2><%= @picture.title %></h2>
    <div>by <%= link_to @picture.profile.nick, @picture.profile %></div>
  <% end %>
</p>
