<h3>This user has <%= pluralize(albums.count, 'album') %>:</h3>

<ul>
<% albums.each do |album| %>
    <li>
        <% unless album.pictures.empty? %>
            <%= link_to image_tag(album.pictures.first.photo.url(:thumb)), profile_album_path(album.profile, album) %>
        <% end %>
        <h4><%= album.title %></h4>
    </li>
<% end %>
</ul>
