<p>
  <b>From:</b>
  <%= link_to image_tag(profile.avatar.url(:tiny), :class => 'profile-image'), profile %>
  <%= link_to profile.nick, profile %> (<%= profile.forename %> <%= profile.surname %>)
</p>
