<div class="mediumview-picture">
  <%= link_to image_tag(picture.photo.url(:small), :class => 'medium-image'), path %>
  <div class="mediumview-meta">
    <% unless picture.title.empty? %>
      <h3><%= link_to picture.title, path %></h3>
    <% end %>
    <div>
      <span class="label notice">
        <i class="icon-comment icon-white"></i> <%= pluralize(picture.comments.count, 'comment') %>
      </span>
      by <%= link_to picture.profile.nick, picture.profile,
         {:title => "#{picture.profile.forename} #{picture.profile.surname}", :rel => 'tooltip'} %>
    </div>
  </div>
</div>
