html,
body {
    background-color: transparent;
}

body {
    background: -moz-radial-gradient(#FFFFFF, #F9F9F9) repeat scroll 0 0 transparent;
}

body,
label,
input,
select,
textarea,
.topbar input {
    font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.clearfix {
    zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    zoom: 1;
    *display: inline;
}
.clearfix:after {
    clear: both;
}

.container {
    position: relative;
}

header .navbar-inner,
header .navbar .fill {
    background-color: #AAA;
    background-color: #AAAAAA;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#AAAAAA), to(#999999));
    background-image: -moz-linear-gradient(top, #AAAAAA, #999999);
    background-image: -ms-linear-gradient(top, #AAAAAA, #999999);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #AAAAAA), color-stop(100%, #999999));
    background-image: -webkit-linear-gradient(top, #AAAAAA, #999999);
    background-image: -o-linear-gradient(top, #AAAAAA, #999999);
    background-image: linear-gradient(top, #AAAAAA, #999999);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#AAAAAA', endColorstr='#999999', GradientType=0);
}

header .navbar {
    box-shadow: 0 0px 10px 2px #333333;
}

header .navbar h3.brand {
    padding-bottom: 3px;
}

header .navbar h3 a {
    font-family: 'Lobster', Arial, sans-serif;
    font-weight: normal;
    font-size: 26px;
    color: #FFFFFF;
    text-shadow: 0px 0px 15px #555555;
    filter: dropshadow(color=#555555, offx=1, offy=1);
    padding: 4px 20px 2px;
}

header .navbar h3 a:hover,
header .navbar h3 a:active {
    text-shadow: 0px 0px 5px #555555;
    text-decoration: none;
}

header .navbar .nav > li > a {
    color: #FFF;
}

header .navbar div.rshot-user-menu {
    padding: 4px 0px 4px 5px;
}

header .navbar div.rshot-user-menu a img.profile-image {
    float: left;
    margin: -2px 10px -2px 0;
}

header .navbar form.form-inline {
    margin-bottom: 0;
}

header .navbar form.form-inline input {
    margin-top: 5px;
}

body {
    padding-top: 40px;
}

#main {
    padding: 20px 0px 0px;
}

#main h2 {
    font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
    font-size: 1.9em;
    font-weight: 400;
    color: #555555;
    padding: 10px 0px;
    text-shadow: 1px 1px 1px #CCCCCC;
    filter: dropshadow(color=#CCCCCC, offx=1, offy=1);
}

#main img.medium-image {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4)
}

#main .medium-image-stack {
    position: relative;
    width: 300px;
    height: 300px;
}

#main .medium-image-stack a.image-stacked {
    padding: 10px;
    background-color: #EEEEEE;
    position: absolute;
    left: 0px;
    top: 0px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
}

#main .medium-image-stack a.image-stacked-first {
    z-index: 2;
}

#main .medium-image-stack a.image-stacked-second {
    -moz-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

#main .medium-image-stack a.image-stacked img.medium-image {
    box-shadow: none;
}

#main img.home-teaser-image,
#main img.detail-image {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

#main .hero-unit-homepage img {
    margin: 0 auto;
}

#main .picture-details-tabs {
    overflow: hidden;
}

.mediumview-picture,
.mediumview-album {
    width: 290px;
    float: left;
    padding-bottom: 20px;
    position: relative;
}

.mediumview-picture .mediumview-meta,
.mediumview-album .mediumview-meta {
    position: absolute;
    bottom: 20px;
    left: 0px;
    width: 240px;
    background-color: rgba(255,255,255,0.5);
    padding: 5px;
    z-index: 3;
}

.mediumview-album .mediumview-meta {
    left: 10px;
    bottom: 60px;
}

.mediumview-picture .mediumview-meta h3,
.mediumview-album .mediumview-meta h3 {
    line-height: 18px;
    padding-bottom: 5px;
}

.mediumview-picture .mediumview-meta h3 a,
.mediumview-album .mediumview-meta h3 a {
    font-family: 'PT Sans Narrow', sans-serif;
}

.mediumview-picture .mediumview-meta span.label,
.mediumview-album .mediumview-meta span.label{
    margin-right: 2px;
    display: inline-block;
}

.mediumview-picture .mediumview-meta i.icon-map-marker {
    float: right;
}

img.mini-image,
img.profile-image,
div.mini-image,
#mapdiv,
#geotag-map {
    box-shadow: 0 0 3px 1px #CCCCCC;
}

#geotag-map {
    height: 200px;
    margin: 0 30px 0 20px;
}

/* picture index */

.picture-index {
    position: relative;
}

.picture-index .picture-navigation {
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
}

/* picture details */

.picture-detail {
    position: relative;
}

.picture-detail .picture-navigation {
    position: absolute;
    right: 0;
    top: 0;
}

.picture-detail .picture-navigation .picture-actions {
    text-align: right;
    padding-top: 5px;
}

.picture-detail .picture-navigation .picture-actions ul.dropdown-menu {
    text-align: left;
}

.picture-detail #picture-view {
    padding: 0px 20px;
}

.picture-detail .picture-comments {
    margin-top: 20px;
}

.picture-detail .picture-comments img.profile-image {
    margin: 2px 10px 4px 0px;
    float: left;
}

.picture-detail .picture-comments blockquote p {
    font-size: 1em;
}

/* album index */

.album-index {
    position: relative;
}

.album-index .album-navigation {
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
}

.album-index .album-list {
    padding: 20px 0 0;
}

/* album details */

.album-detail {
    position: relative;
}

.album-detail .album-navigation {
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
}

.album-detail .album-navigation .edit-menu {
    text-align: right;
    padding-top: 5px;
}

.album-detail .album-navigation .edit-menu ul.dropdown-menu {
    text-align: left;
}

/* profile detail */

.profile-detail {
    position: relative;
}

.profile-detail .profile-navigation {
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
}

.profile-detail .profile-navigation .edit-menu ul.dropdown-menu {
    text-align: left;
}

/* profile, popovers */

.profile-popover-content img.profile-popover-avatar {
    float: left;
    margin-right: 10px;
}

.profile-popover-content:before,
.profile-popover-content:after {
  display: table;
  content: "";
  zoom: 1;
  *display: inline;
}

.profile-popover-content:after {
    clear: both;
}

aside {
    width: 300px;
    float: right;
    padding: 20px 0px;
}

aside .rshot-miniprofile {
    padding: 8px 0;
}

aside .shimmer-album-minicontent ul,
aside .shimmer-scope-image-navigation ul,
aside .shimmer-user-minialbumlist ul,
aside .shimmer-album-miniteaser ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

aside .shimmer-album-minicontent ul li,
aside .shimmer-scope-image-navigation ul li,
aside .shimmer-user-minialbumlist ul li {
    float: left;
    margin: 0 5px 5px 0;
    padding: 0;
}

aside .shimmer-scope-image-navigation ul li.current img {
    border: 1px solid red;
}

aside .shimmer-scope-image-navigation ul li div.image-placeholder-thumb {
    width: 75px;
    height: 75px;
}

footer {
    margin-top: 20px;
    padding: 20px 0 25px;
    border-top: 1px solid #E5E5E5
}