html,
body {
    background-color: transparent;
}

body {
    background: -moz-radial-gradient(#FFFFFF, #F9F9F9) repeat scroll 0 0 transparent;
}

body,
label,
input,
select,
textarea,
.topbar input {
    font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.clearfix {
    zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    zoom: 1;
    *display: inline;
}
.clearfix:after {
    clear: both;
}

header {
    background-color: #D0D0D0;
    box-shadow: 0 5px 5px 1px #AAAAAA;
    padding-top: 10px;
}

.container {
    width: 990px;
    margin: 0px auto;
    position: relative;
}

#mainContainer {
    margin-bottom: 10px;
    width: 1030px;
}

header .topbar ul.nav li a img.profile-image {
    float: left;
    margin: -2px 10px 0 0;
}

header .topbar {
    box-shadow: 0 5px 5px 1px #AAAAAA;
}

header .topbar-inner,
header .topbar .fill {
    background-color: #AAA;
    background-color: #AAAAAA;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#AAAAAA), to(#999999));
    background-image: -moz-linear-gradient(top, #AAAAAA, #999999);
    background-image: -ms-linear-gradient(top, #AAAAAA, #999999);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #AAAAAA), color-stop(100%, #999999));
    background-image: -webkit-linear-gradient(top, #AAAAAA, #999999);
    background-image: -o-linear-gradient(top, #AAAAAA, #999999);
    background-image: linear-gradient(top, #AAAAAA, #999999);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#AAAAAA', endColorstr='#999999', GradientType=0);
}

header .topbar h3 a {
    font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: #FFFFFF;
    text-shadow: 0px 0px 5px #555555;
    filter: dropshadow(color=#555555, offx=1, offy=1);
    padding: 4px 20px 2px;
}

.topbar div > ul a,
.nav a {
    text-shadow: 1px 1px 1px #999999;
    filter: dropshadow(color=#999999, offx=1, offy=1);
}

.topbar a {
    color: #FFFFFF;
}

.topbar div > ul a.menu:hover,
.nav a.menu:hover,
.topbar div > ul li.open .menu,
.nav li.open .menu,
.topbar div > ul .dropdown-toggle:hover,
.nav .dropdown-toggle:hover,
.topbar div > ul .dropdown.open .dropdown-toggle,
.nav .dropdown.open .dropdown-toggle {
    background-color: rgba(0, 0, 0, 0.5);
}

.topbar div > ul .menu-dropdown,
.nav .menu-dropdown,
.topbar div > ul .dropdown-menu,
.nav .dropdown-menu {
    background-color: #999999;
}

.topbar div > ul .menu-dropdown li a,
.nav .menu-dropdown li a,
.topbar div > ul .dropdown-menu li a,
.nav .dropdown-menu li a {
    color: #FFFFFF;
}

#container {
    margin-top: 40px;
}

#main {
    padding: 20px 0px 20px 20px;
}

#main h2 {
    font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
    font-size: 1.9em;
    font-weight: 400;
    color: #555555;
    padding: 10px 0px;
    text-shadow: 1px 1px 1px #CCCCCC;
    filter: dropshadow(color=#CCCCCC, offx=1, offy=1);
}

#main img.medium-image {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4)
}

#main .medium-image-stack {
    position: relative;
    width: 300px;
    height: 300px;
}

#main .medium-image-stack a.image-stacked {
    padding: 10px;
    background-color: #EEEEEE;
    position: absolute;
    left: 0px;
    top: 0px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
}

#main .medium-image-stack a.image-stacked-first {
    -moz-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
    z-index: 2;
}

#main .medium-image-stack a.image-stacked img.medium-image {
    box-shadow: none;
}

#main img.home-teaser-image,
#main img.detail-image {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

#main .picture-details-tabs {
    overflow: hidden;
}

.mediumview-picture,
.mediumview-album {
    width: 320px;
    float: left;
    padding-bottom: 20px;
}

img.mini-image,
img.profile-image,
div.mini-image,
#mapdiv {
    box-shadow: 0 0 3px 1px #CCCCCC;
}

#picture-comments img.profile-image {
    margin: 2px 10px 4px 0px;
    float: left;
}

.profile-popover-content img.profile-popover-avatar {
    float: left;
    margin-right: 10px;
}

.profile-popover-content:before,
.profile-popover-content:after {
  display: table;
  content: "";
  zoom: 1;
  *display: inline;
}

.profile-popover-content:after {
    clear: both;
}

aside {
    width: 300px;
    float: right;
    padding: 20px 0px;
}

aside .shimmer-album-minicontent ul,
aside .shimmer-scope-image-navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

aside .shimmer-album-minicontent ul li,
aside .shimmer-scope-image-navigation ul li {
    float: left;
    margin: 0 5px 5px 0;
    padding: 0;
}

aside .shimmer-scope-image-navigation ul li.current img {
    border: 1px solid red;
}

aside .shimmer-scope-image-navigation ul li div.image-placeholder-thumb {
    width: 75px;
    height: 75px;
}
