html,
body {
    background-color: transparent;
}

body {
    background: -moz-radial-gradient(#FFFFFF, #F9F9F9) repeat scroll 0 0 transparent;
}

header {
    background-color: #D0D0D0;
    box-shadow: 0 5px 5px 1px #AAAAAA;
    padding-top: 10px;
}

.container {
    width: 990px;
    margin: 0px auto;
    position: relative;
}

#mainContainer {
    margin-bottom: 10px;
    width: 1030px;
}

header h1,
header h1 a:link,
header h1 a:visited,
header h1 a:hover,
header h1 a:active {
    font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
    font-weight: 700;
    font-size: 44px;
    text-decoration: none;
    line-height: 44px;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #777777;
    filter: dropshadow(color=#777777, offx=1, offy=1);
    margin: 0;
}

header h1 a:hover,
header h1 a.active {
    color: #333333;
    background-color: transparent;
    text-shadow: 1px 1px 1px #DDDDDD;
    filter: dropshadow(color=#DDDDDD, offx=1, offy=1);
}

header nav ul {
    position: absolute;
    bottom: 0;
    left: 200px;
    list-style-type: none;
    display: inline;
    margin: 0;
}

header nav ul li {
    display: inline;
    margin: 0px 10px 0px 0px;
    padding: 0px;
    vertical-align: middle;
}

header nav ul li a:link,
header nav ul li a:visited,
header nav ul li a:hover,
header nav ul li a:active {
    font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: #FFFFFF;
    background-color: transparent;
    padding: 6px 9px;
    vertical-align: middle;
    display: inline-block;
    text-shadow: 1px 1px 1px #999999;
    filter: dropshadow(color=#999999, offx=1, offy=1);
}

header nav ul li a:hover,
header nav ul li a.active {
    color: #AAAAAA;
    background-color: #FFFFFF;
    text-shadow: 1px 1px 1px #DDDDDD;
    filter: dropshadow(color=#DDDDDD, offx=1, offy=1);
}

header img.profile-image {
    float: right;
}

#main {
    padding: 20px 320px 20px 20px;
}

#main h2 {
    font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
    font-size: 1.9em;
    font-weight: 400;
    color: #555555;
    padding: 10px 0px;
    text-shadow: 1px 1px 1px #CCCCCC;
    filter: dropshadow(color=#CCCCCC, offx=1, offy=1);
}

#main img.medium-image {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4)
}

#main .medium-image-stack {
    position: relative;
    width: 300px;
    height: 300px;
}

#main .medium-image-stack a.image-stacked {
    padding: 10px;
    background-color: #EEEEEE;
    position: absolute;
    left: 0px;
    top: 0px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
}

#main .medium-image-stack a.image-stacked-first {
    -moz-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
    z-index: 2;
}

#main .medium-image-stack a.image-stacked img.medium-image {
    box-shadow: none;
}

#main img.home-teaser-image,
#main img.detail-image {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.mediumview-picture,
.mediumview-album {
    width: 320px;
    float: left;
    padding-bottom: 20px;
}

img.mini-image,
img.profile-image,
#mapdiv {
    box-shadow: 0 0 3px 1px #CCCCCC;
}

aside {
    width: 300px;
    float: right;
    padding: 20px 0px;
}

aside .shimmer-album-minicontent ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

aside .shimmer-album-minicontent ul li {
    float: left;
    margin: 0 5px 5px 0;
    padding: 0;
}
